#body {
    background-color: #171717;
    color: white;
    width: 90%;
    margin: 0 auto;
}
#text {
    width: 100%;
    height: 50vh;
    font-size: 2rem;
}
.container {
    padding: 100px 0px;
}
.container .second {
    display: inline-flex;
    margin: 20px;
}
.container .second .form-control {
    display: inline;
    width: fit-content;
}
.container .second .speed {
    margin: 15px;
}
.footer {
    position: absolute;
    bottom: 2%;
    left: 40vw;
    font-size: 17px;
}
body a {
    color: #ffeb3b;
}
body a:hover {
    text-decoration: none;
}
.fab {
    font-size: 17px;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    color: #ffeb3b;
}
.container .material-icons {
    margin: 10px;
    cursor: pointer;
    font-family: 'Material Icons';
    color: #2196F3;
    font-weight: normal;
    font-style: normal;
    font-size: 50px;  
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
  }

@media screen and (max-width: 426px) { 
    #body {
        font-size: 1rem;
    }
    #text {
        font-size: 2rem;
    }
    .container {
        padding: 70px 0px;
    }
    .container .second {
        display: block;
    }
    .container .second .form-control { 
        font-size: 1rem;
    }
    .container .second .speed {
        margin: 0px;
    }
    .container .material-icons {
        font-size: 3rem;
    }
    .footer {
        margin-top: 40px;
        position: unset;
        font-size: 0.9rem;
    }
    .fab {
        font-size: 1.5rem;
        position: unset;
    }
}
